<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">

    <head>
        <title> Fruzensky r-n </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>

    <body>
    <p><a href="{% url 'index' %}">Выйти</a> </p>
        <h2>Почту можно открыть тут:</h2>
            <ul>
                <li>*адрес*, потому что *причина*, балл - 5 </li>
                <li>*адрес*, потому что *причина*, балл - 4 </li>
                <li>*адрес*, потому что *причина*, балл - 3 </li>
            </ul>
    </body>

</html>